body {
    margin:0;
	font-family: Courier;
	color: white;
	background: #020508;
}

header {
    background: #309cff;
    display: flex;
    justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1;
}

.logo {
	width: 64px;
	height: 64px;
	margin: 10px;
}

.logo:hover {
	transform: scale(1.1,1.1);
}

.site-header {
	display: flex;
}

nav {
	display: flex;
	margin-right: 10px;
	align-items: center;
}

nav h3{
	margin: 0px;
	padding: 25pt 10px 25pt;
	justify-content: space-between;
}
	
a {/*#1e90ff*/
	text-decoration: none;
	color: #072227;
}

a:hover {
	text-decoration: none;
	color: #35858B;
}

a:active {
	text-decoration: none;
	color: #AEFEFF;
}

nav h3:hover {
	text-decoration: none;
	background-color: #00BDFF;
	color: #072227;
}

nav h3:active {
	text-decoration: none;
	background-color: #00D7EB;
	color: #072227;
}

.banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/*footer*/
footer {
	background: #3F4756;
	bottom: 0;
	width: 100%;
	margin-top: 500px;
	display: flex;
	justify-content: center;
	flex-direction: column;	
	text-align: center;
	padding: 20px 0px 20px;
}

#footer-small {
	padding: 5px;
}

ul.sprites {
	display:flex;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	justify-content: center;
}

ul.sprites li{
	padding: 5px 10px 0px;
}

.sprites a {
	display: inline-block;
}
/*sprites - w/help from spritecow, sprites made in canva*/
#discord {
	background: url('../images/sprites.png') no-repeat -11px -10px;
	width: 28px;
	height: 28px;
}

#discord:hover {
	background: url('../images/sprites.png') no-repeat -11px -41px;
	width: 28px;
	height: 29px;	
}

#discord:active {
	background: url('../images/sprites.png') no-repeat -11px -73px;
	width: 28px;
	height: 28px;	
}

#github {
	background: url('../images/sprites.png') no-repeat -43px -10px;
	width: 28px;
	height: 28px;
}

#github:hover {
	background: url('../images/sprites.png') no-repeat -43px -41px;
	width: 28px;
	height: 29px;	
}

#github:active {
	background: url('../images/sprites.png') no-repeat -43px -73px;
	width: 28px;
	height: 28px;	
}

#facebook {
	background: url('../images/sprites.png') no-repeat -74px -10px;
	width: 28px;
	height: 28px;
}

#facebook:hover {
	background: url('../images/sprites.png') no-repeat -74px -41px;
	width: 28px;
	height: 29px;
	
}

#facebook:active {
	background: url('../images/sprites.png') no-repeat -74px -73px;
	width: 28px;
	height: 28px;	
}

#gmail {
	background: url('../images/sprites.png') no-repeat -106px -10px;
	width: 27px;
	height: 28px;
}

#gmail:hover {
	background: url('../images/sprites.png') no-repeat -105px -41px;
	width: 29px;
	height: 29px;	
}

#gmail:active {
	background: url('../images/sprites.png') no-repeat -105px -73px;
	width: 29px;
	height: 28px;	
}

ul.footer-nav {
	display:flex;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	justify-content: center;
}

ul.footer-nav li{
	padding: 5px 10px 0px;
}

.footer-nav a {
	display: inline-block;
}
/*end of footer*/
/*home*/
.cards {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
	margin-left: 0px;
}

.card {
	background: white;
    border-width: 2px;
	border-color: #000000;
    width: 23%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.card:hover {
	background: #cae8ff;
}

.card .title {
    padding: 5px;
    text-align: center;
}

.card .media img {
	display: block;
    width: 90%;
    height: 120px;
	margin: auto;
    object-fit: cover;
}

.description {
	padding: 10px;
}
/*end of home*/

/*content template*/
.subject {
	margin: 10px;
}

.inside-content { 
	display: flex;
	justify-content: center;
}

.inside-content p{
	margin: 10px;
}
.inside-paragraph { 
	margin: 10px;
}

.inside-image img{
	height: 200px;
	margin: 10px;
}
/*end of content template*/

figcaption {
	text-align: center;
}

/*about me*/
.aboutme-content{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.aboutme-paragraph{
	margin: 10px;
	width: 50%;
}

.profile {
	background: white;
    border-width: 2px;
	border-color: #000000;
    width: 30%;
	height: auto;
	display: flex;
	justify-content: space-around;
	
}

.profile img {
	display: block;
    width: auto;
    height: 150px;
	margin: 10px;
}

#prof-col {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

ul#sprites-am {
	display:flex;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	justify-content: space-evenly;
}

.inline-link{
	text-decoration: none;
	color: white;
}

#sprites-am a {
	display: inline-block;
}

.prof-desc {
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	color: black;
}

.prof-desc ul{
	padding-left: 20px;
	list-style-type: none;
}

.prof-desc ul li{
	margin: 5px;
	background: #f3f3ff;
}

/*end of about me*/

/*gallery*/
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*justify-content: space-around;*/	
}

.gallery img{
	height: 300px;
	margin: 5px;
}

.gallery img:hover {
	transform: scale(1.05,1.05);
}
/*end of gallery*/

#timelapse {
	display: flex;
	justify-content: center;
}

#t-art {
	margin: 50px;
}

